.content {
	text-align: center;
}
.content > table {
	margin-left:auto;
	margin-right:auto;
	padding: 20px;
}
.navlist li {
	display: inline;
}

.catrow {
	text-align: center;
}
.catrow th {
	padding-top: 10px;
}
