<!doctype html>
<html>
<head>
	<title>ACM@WM: {% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://acmwm.github.io/css/main.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% include "header.html" %}
<section class="content">
  <header>
    {% block header %}{% endblock %}
    {% if current_user.is_authenticated %}
	<div class="auth">
		<span>{{ current_user.name }}</span>
		<a class="page-link" href="{{ url_for('newuser') }}">Add User</a>
		<a class="page-link" href="{{ url_for('add') }}">Add Hardware</a>
	</div>
	{% endif %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

{% include "footer.html" %}
</body>
</html>
