{% extends "base.html" %}
{% block title %}Checkouts{% endblock %}

{% block content %}
<table>
	<tr>
		<th>Out</th>
		<th>In</th>
		<th>Who</th>
		<th>What</th>
		<th>Quantity</th>
		<th>Reason</th>
		<th>Authorized</th>
	</tr>
{% for r in rows %}
	<tr>
		<td> {{ r.outdate }} </td>
		<td> {{ r.returndate }} </td>
		<td> {{ r.who }} </td>
		<td> <a href="/show/{{ r.what }}">{{ r.hardware.name }}</a> </td>
		<td> {{ r.quantity }} </td>
		<td> {{ r.reason }} </td>
		<td> {{ r.authorized_user.name }} </td>
	</tr>
{% endfor %}
{% endblock %}
