<header class="site-header">

	{% set url = "https://wmacmhardware.herokuapp.com" %}
  <div class="wrapper">

	  <a class="site-title" href="{{ url }}">
		<img src="https://acmwm.github.io/images/logo.png" />
	</a>

<nav class="site-nav">
	<a href="{{ url }}" class="page-link">Hardware</a>
	<a class="page-link" href="{{ url_for('current') }}">Currently Out</a>
	<a class="page-link" href="{{ url_for('history') }}">History</a>
	{% if current_user.is_authenticated %}
	<a class="page-link" href="{{ url_for('logout') }}">Log Out</a>
    {% else %}
	<a class="page-link" href="{{ url_for('login') }}">Log In</a>
    {% endif %}

</nav>

  </div>

</header>
