{% extends "base.html" %}

{% block title %}List{% endblock %}

{% block content %}
{% if objs %}
<table>
	<tr>
		<th>Name</th>
		<th>Quantity</th>
		<th>Available</th>
	</tr>
	{% set ns = namespace(oldcat=None) %}
	{% for i in objs %}
		{% if ns.oldcat != i.category %}
			{% set ns.oldcat = i.category %}
			<tr>
				<th>{{ i.category }}</th>
			</tr>
		{% endif %}
		{% if i.quantity > 0 %}
		<tr>
			<!-- id: {{ i.id }} -->
			<td> <a href="{{ url_for("show", id=i.id) }}">{{ i.name }}</a></td>
			<td> {{ i.quantity }} </td>
			<td> {{ i.available }} </td>
			<td> <a href="{{ url_for('checkout', id=i.id) }}">Checkout</a> </td>
			<td><a href="{{ url_for('update', id=i.id) }}">Update</a> </td>
		</tr>
		{% endif %}
	{% endfor %}
</table>

{% else %}
No Results found!
{% endif %}
{% endblock %}
