{% extends "base.html" %}

{% block title %}List{% endblock %}

{% block content %}
{% if objs %}
<table>
	<tr>
		<th>Name</th>
		<th>Available</th>
		<th>Quantity</th>
	</tr>
	{% for i in objs %}
		{% if i.quantity > 0 %}
		<tr>
			<!-- id: {{ i.id }} -->
			<td> {{ i.name }} </td>
			<td> {{ i.available }} </td>
			<td> {{ i.quantity }} </td>
			<td> <a href="/checkout/{{ i.id }}/">Checkout</a> </td>
			<td><a href="/update/{{ i.id }}/">Update</a> </td>
		</tr>
		{% endif %}
	{% endfor %}
</table>

{% else %}
No Results found!
{% endif %}
{% endblock %}
